In [1]:
#Add Dependencies
import pandas as pd
import numpy as np
# import psycopg2 as pg
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
read_file = "tmdb-movies-2020.csv"
read_file_g = "tmdb-movies-2020-genre.csv"
write_file = "../Resources/2020_movies_clean.csv"

In [3]:
# Import our input dataset
movies_df = pd.read_csv(read_file , low_memory=False, index_col="id_imdb")

In [4]:
#Check imported Dataset
movies_df.head()

,id,video,vote_count,vote_average,title,release_date,original_language,original_title,genre_ids/0,backdrop_path,adult,overview,poster_path,popularity,genre_ids/1,genre_ids/2,genre_ids/3,genre_ids/4,genre_ids/5,genre_ids/6
id_imdb,,,,,,,,,,,,,,,,,,,,
tt11015214,634233,False,0,0.0,Class Action Park,NaN,en,Class Action Park,99.0,NaN,False,"Discover the legacy of Action Park, a very rea...",/h21s0GnRiI9aL4hIFQWJGPZSwGg.jpg,0.600,NaN,NaN,NaN,NaN,NaN,NaN
tt4284084,436786,False,0,0.0,Clapboard Jungle: Surviving the Independent Fi...,2020-03-26,en,Clapboard Jungle: Surviving the Independent Fi...,99.0,NaN,False,A survival guide for the modern independent fi...,/3ZslUuPHnv5EngMHbWyQzb9PX0L.jpg,0.926,NaN,NaN,NaN,NaN,NaN,NaN
tt12108272,688335,False,2,7.5,Close Encounters of the Fifth Kind,2020-04-07,en,Close Encounters of the Fifth Kind,99.0,/efiDNmExd9GweIqmQKcwIt09hi7.jpg,False,"Dr. Steven Greer’s previous works, SIRIUS and ...",/R0rmE1wDbxMb2W0MyDE3HKPhOR.jpg,5.217,NaN,NaN,NaN,NaN,NaN,NaN
tt7801350,639103,False,1,4.0,Clover,2020-04-03,en,Clover,35.0,/hgvNpunbkYhPLKj46GotQqlTXng.jpg,False,Brothers Jackie and Mickey along with a teen w...,/wTp5SYAuTuHDGQGWePkF2z5sHTD.jpg,5.588,53.0,NaN,NaN,NaN,NaN,NaN
tt11801494,674334,False,0,0.0,Climbing Blind,2020-03-20,en,Climbing Blind,99.0,/rjtXLRO0ixmbjoQM27Rj7rFRWe9.jpg,False,Blind climber Jesse Dufton's ascent of the Old...,/rODi66xlhEIaHs2krHlj4A8da5f.jpg,2.586,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Check Dataset Column Types
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2476 entries, tt11015214 to tt7354580
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2476 non-null   int64
 1   video              2476 non-null   bool
 2   vote_count         2476 non-null   int64
 3   vote_average       2476 non-null   float64
 4   title              2476 non-null   object
 5   release_date       1912 non-null   object
 6   original_language  2476 non-null   object
 7   original_title     2476 non-null   object
 8   genre_ids/0        1943 non-null   float64
 9   backdrop_path      1053 non-null   object
 10  adult              2476 non-null   bool
 11  overview           2219 non-null   object
 12  poster_path        1916 non-null   object
 13  popularity         2476 non-null   float64
 14  genre_ids/1        879 non-null    float64
 15  genre_ids/2        327 non-null    float64
 16  genre_ids/3        62 non-null     float64
 17  genre_ids/4        27 non-null     float64
 18  genre_ids/5        7 non-null      float64
 19  genre_ids/6        1 non-null      float64
dtypes: bool(2), float64(9), int64(2), object(7)
memory usage: 372.4+ KB

In [6]:
#Drop movies considered "Adult"
movies_df = movies_df.drop(movies_df[movies_df.adult == True].index)

In [7]:
#Drop columns not needed for Evaluation
movies_df= movies_df.drop(columns=["adult", "vote_count", "backdrop_path", "original_language", "overview", "poster_path",  "video", "id","genre_ids/1", "genre_ids/2", "genre_ids/3", "genre_ids/4", "genre_ids/5", "genre_ids/6"     ])
movies_df.head()

,vote_average,title,release_date,original_title,genre_ids/0,popularity
id_imdb,,,,,,
tt11015214,0.0,Class Action Park,NaN,Class Action Park,99.0,0.600
tt4284084,0.0,Clapboard Jungle: Surviving the Independent Fi...,2020-03-26,Clapboard Jungle: Surviving the Independent Fi...,99.0,0.926
tt12108272,7.5,Close Encounters of the Fifth Kind,2020-04-07,Close Encounters of the Fifth Kind,99.0,5.217
tt7801350,4.0,Clover,2020-04-03,Clover,35.0,5.588
tt11801494,0.0,Climbing Blind,2020-03-20,Climbing Blind,99.0,2.586

In [8]:
#Convert Release Date to contain just the year (Exact date is unnecessary)
movies_df['Release_year'] = movies_df['release_date'].str[:4]

In [9]:
#Check remaining columns
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2471 entries, tt11015214 to tt7354580
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   vote_average    2471 non-null   float64
 1   title           2471 non-null   object
 2   release_date    1909 non-null   object
 3   original_title  2471 non-null   object
 4   genre_ids/0     1940 non-null   float64
 5   popularity      2471 non-null   float64
 6   Release_year    1909 non-null   object
dtypes: float64(3), object(4)
memory usage: 154.4+ KB

In [10]:
#Verify Current Dataset
movies_df

,vote_average,title,release_date,original_title,genre_ids/0,popularity,Release_year
id_imdb,,,,,,,
tt11015214,0.0,Class Action Park,NaN,Class Action Park,99.0,0.600,NaN
tt4284084,0.0,Clapboard Jungle: Surviving the Independent Fi...,2020-03-26,Clapboard Jungle: Surviving the Independent Fi...,99.0,0.926,2020
tt12108272,7.5,Close Encounters of the Fifth Kind,2020-04-07,Close Encounters of the Fifth Kind,99.0,5.217,2020
tt7801350,4.0,Clover,2020-04-03,Clover,35.0,5.588,2020
tt11801494,0.0,Climbing Blind,2020-03-20,Climbing Blind,99.0,2.586,2020
...,...,...,...,...,...,...,...
tt10230404,4.3,Ghost Stories,2019-12-31,Ghost Stories,27.0,5.513,2019
tt3734580,0.0,Ghoomketu,2020-05-22,Ghoomketu,35.0,2.303,2020
tt5253438,0.0,Ghosts of the République,2018-08-30,Ghosts of the République,NaN,0.840,2018
tt10244008,0.0,Ghost,2020-02-20,Ghost,80.0,5.619,2020
tt7354580,0.0,Ghosts,2020-12-14,Ghosts,18.0,4.778,2020

In [11]:
#Drop processed columns, keeping only clean dataset
#movies_df= movies_df.drop(columns=["genres", "production_companies", "production_countries", "release_date"])
#movies_df.head()

KeyError: "['genres' 'production_companies' 'production_countries'] not found in axis"

In [ ]:
# Import our input dataset
movies_genre_df = pd.read_csv(read_file_g , low_memory=False)

In [ ]:
movies_genre_df

In [ ]:
#Convert Budget and Popularty colums from Object to Numbers
movies_df['popularity']=movies_df.budget.astype('float64')

In [ ]:
#Drop any rows containing blank data
movies_df = movies_df.dropna(axis = 0,how= 'any')

In [ ]:
#Check final dataset numbers
movies_df.info()

In [ ]:
#Export dataset to CSV
movies_df.to_csv(write_file)